extends baseEmail

block content
  div.content-wrapper
    h2(style="color: var(--brand-deep-gold); margin-bottom: 24px;") Verify Your Email
    
    p Hello #{firstName},
    
    p Please verify your email address to access all of EulaIQ's features:
    
    div(style="text-align: center; margin: 32px 0;")
      a.button(href=url) Verify Email Address
    
    p This verification link will expire in 20 Minutes. If you didn't create an account with EulaIQ, please ignore this email.
