extends baseEmail

block content
  div.content-wrapper
    h2(style="color: var(--brand-deep-gold); margin-bottom: 24px;") New Sign-in Detected
    
    p Hi #{firstName},
    
    p We noticed a sign-in attempt from a new location. To ensure your account's security, please verify this was you:
    
    div(style="text-align: center; margin: 32px 0;")
      a.button(href=url) Verify Sign-in
    
    p If you didn't try to sign in, please change your password immediately and contact our support team.
